//! **************************************************************************
// Written by: Map P.28xd on Fri Apr 17 20:24:55 2015
//! **************************************************************************

SCHEMATIC START;
COMP "data" LOCATE = SITE "J13" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "motor1" LOCATE = SITE "T12" LEVEL 1;
COMP "motor2" LOCATE = SITE "K2" LEVEL 1;
COMP "motor3" LOCATE = SITE "H3" LEVEL 1;
COMP "clkusb" LOCATE = SITE "L12" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_3/counter_40" BEL "XLXI_3/counter_39" BEL
        "XLXI_3/counter_38" BEL "XLXI_3/counter_37" BEL "XLXI_3/counter_36"
        BEL "XLXI_3/counter_35" BEL "XLXI_3/counter_34" BEL
        "XLXI_3/counter_33" BEL "XLXI_3/counter_32" BEL "XLXI_3/counter_31"
        BEL "XLXI_3/counter_30" BEL "XLXI_3/counter_29" BEL
        "XLXI_3/counter_28" BEL "XLXI_3/counter_27" BEL "XLXI_3/counter_26"
        BEL "XLXI_3/counter_25" BEL "XLXI_3/counter_24" BEL
        "XLXI_3/counter_23" BEL "XLXI_3/counter_22" BEL "XLXI_3/counter_21"
        BEL "XLXI_3/counter_20" BEL "XLXI_3/counter_19" BEL
        "XLXI_3/counter_18" BEL "XLXI_3/counter_17" BEL "XLXI_3/counter_16"
        BEL "XLXI_3/counter_15" BEL "XLXI_3/counter_14" BEL
        "XLXI_3/counter_13" BEL "XLXI_3/counter_12" BEL "XLXI_3/counter_11"
        BEL "XLXI_3/counter_10" BEL "XLXI_3/counter_9" BEL "XLXI_3/counter_8"
        BEL "XLXI_3/counter_7" BEL "XLXI_3/counter_6" BEL "XLXI_3/counter_5"
        BEL "XLXI_3/counter_4" BEL "XLXI_3/counter_3" BEL "XLXI_3/counter_2"
        BEL "XLXI_3/counter_1" BEL "XLXI_3/counter_0" BEL "XLXI_3/onesecclk"
        BEL "clk_BUFGP/BUFG";
SCHEMATIC END;

